/DatosG/nbproject/private/
/DominioG/nbproject/private/
/NegocioG/nbproject/private/
/VistaG/nbproject/private/
/VistaG/build/
/DominioG/build/
/DatosG/build/
/DominioG/dist/
/NegocioG/build/
/DatosG/dist/
/NegocioG/dist/
/VistaG/dist/
/Version 2 Proyecto Mejorada/dominio_papeleria/nbproject/private/
/Version 2 Proyecto Mejorada/dominio_papeleria/build/
/Version 2 Proyecto Mejorada/dominio_papeleria/dist/
/Version 2 Proyecto Mejorada/datos_papeleria/nbproject/private/
/Version 2 Proyecto Mejorada/negocio_papeleria/nbproject/private/
/Version 2 Proyecto Mejorada/vista_papeleria/nbproject/private/
/datos_papeleria/nbproject/private/
/dominio_papeleria/nbproject/private/
/negocio_papeleria/nbproject/private/
/vista_papeleria/nbproject/private/
/vista_papeleria/build/
/dominio_papeleria/build/
/negocio_papeleria/build/
/datos_papeleria/build/
/dominio_papeleria/dist/
/datos_papeleria/dist/
/negocio_papeleria/dist/
/vista_papeleria/dist/
